name: Python CI on Windows

on:
  push:
    branches:
      - main  # 在推送到 main 分支时触发
  pull_request:
    branches:
      - main  # 在对 main 分支进行拉取请求时触发

jobs:
  test:
    runs-on: windows-latest  # 使用 Windows 环境
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2  # 检出代码仓库

    - name: Set Python IO Encoding
      run: |
        echo "PYTHONIOENCODING=utf-8" >> $GITHUB_ENV  # 设置环境变量
        
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.9'  # 设置 Python 版本

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip  # 更新 pip
        pip install -r requirements.txt  # 安装依赖

    - name: Run Python script
      run: |
        python your_script.py  # 运行你的 Python 脚本
